# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec
*.exe
*.zip

# Local data
*.log
progress.json
settings.json
non-website/shadow slave/
non-website/shadow slave update/

# IDE
.vscode/
.idea/
